.wrap1000px{
  width:100%;
  max-width:1000px;
  margin:0 auto;
}

@media screen and (max-width:767px){
.wrap1000px{
  width:100%;
  max-width:inherit;
  padding-left:15px;
  padding-right:15px;
  }
}